$spartan-font: 'League Spartan';
/*
**************************** COLORS ****************************
*/

$bac-color:#f2f2f2;
$white-color:#ffffff;
$primary-color:#512051;
$result-color:#F7F2F7;
$tittle-color:#EE69A4;
$text-color:#927B91;




/**************************** FONTS ****************************
*/
$font-weight-regular:400;
$font-weight-semiBold:500;
$font-weight-bold:700;

/**************************** TITTLE****************************
*/

$tittle-middle-size:5.6rem;
$tittle-middle-line:1.14;

$tittle-normal-size:1.7rem;
$tittle-normal-line:0.92;



/**************************** TEXT ****************************
*/

$text-middle-size:1.9rem;
$text-middle-line:1.32;

$text-normal-size:1.7rem;
$text-normal-line:1.29;
